main{
    min-height: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* border: 3px solid #000; */
    background-color: #fff;
    /* box-shadow: inset 3px 3px 3px 3px #000000; */
}
footer{
    display: flex;
    /* display: inline-block; */
    justify-content: space-around;
}
a{
    font-size: 20px;
    font-style: bold;
    color: #fd3232;
    text-decoration: none;
}
body{
    background-color: #dadada;
}
header{
    display: flex;
    justify-content: center;
}
.header{
    text-align: center;
    font-size: 25px;
    margin-bottom: 100px;
    margin-top: -25px;
    padding: 20px;
    max-width: 400px;
    border: 3px solid #000;
    background-color: #379eff;
    color: gold;
}
